@media screen and (min-width: 900px) {
  .schedule-form {
    display: flex;
  }
  .schedule-form .schedule-form-group:not(:first-child) {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .schedule-form-group {
    margin-bottom: 1rem;
  }
}

.schedule-form-group {
  min-width: 26%;
  /* margin-bottom: 10rem; */
}

.schedule-item {
  background-color: rgb(234, 240, 250);
  border-left: 8px solid rgb(111, 149, 211);
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
}

.schedule-item-hour {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.5rem;
}

.schedule-item-content {
  padding-left: 1.2rem;
}

.day-title {
  font-size: 2rem;
  /* color: rgb(230, 73, 1); */
  margin-top: 3rem;
  text-shadow: 4px 4px 9px rgba(71, 71, 71, 0.1);
}
