* {
  /* background-color: rgb(247, 250, 253); */
}

section {
  margin-bottom: 2rem;
}

.content {
  margin-top: 20rem !important;
  max-width: 50rem;
  margin: 0 auto;
}

.hp-title {
  margin-bottom: 0.5rem;
}

.hp-form {
  display: flex;
}

.form-select {
  margin-right: 0.5rem;
}

.title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
